Source: pac-manager
Section: unknown
Priority: optional
Maintainer: Subuntu X <subuntux@github.com>
Build-Depends: python
Standards-Version: 1.3
Package: pac-manager
Architecture: any armhf
Depends: ${misc:Depends}, ${python:Depends}
Description: Termux Menu
 Termux Menu
