#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	dh_auto_install
	# Kopiere die Datei "manager.py" in den /usr/bin/-Ordner
	mkdir -p $(CURDIR)/debian/pac-manager/usr/bin
	cp $(CURDIR)/manager.py $(CURDIR)/debian/pac-manager/usr/bin/
